@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.header .navigation ul li a:hover {
  background-color: #ff3f40;
  color: white;
}

.services, .organisation__info .organisation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact .contact__block .contact__form .contact__button, .subscription .subscription__content .subscription__form .subscription__button, .services .services__excerpt .services__button, .organisation__info .organisation .organisation__info__block .organisation__info__contact_us {
  padding: 20px 40px;
  text-align: center;
  border-style: none;
  border-radius: 5px;
  font: 22px;
  font-weight: bold;
}

.team .team__headline h1, .organisation__info .organisation {
  padding-top: 100px;
  padding-bottom: 50px;
}

.subscription .subscription__content p, .subscription .subscription__content h1 {
  text-align: center;
  color: white;
}

.contact .contact__heading:after, .team .team__headline:after, .product .product__headline:after {
  content: "";
  display: inline-block;
  width: 100px;
  height: 2px;
  background-color: #ff3f40;
}

footer .footer .footer__navigation nav ul, .product .product__navigation ul, .header .navigation ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  max-width: 1250px;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  font-size: 32px;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  background-color: #f6f2f2;
  padding-top: 30px;
}
.header .navigation {
  background-color: #313030;
}
.header .navigation ul {
  display: flex;
  justify-content: center;
  height: 100%;
}
.header .navigation ul li {
  display: inline-block;
  padding: 47px 25px;
  text-transform: uppercase;
  font-size: 14px;
  list-style: none;
  height: 100%;
}
.header .navigation ul li a {
  color: white;
  text-decoration: none;
  height: 100%;
  padding: 47px 25px;
  display: inline;
}
.organisation__info {
  background-color: #f6f2f2;
}
.organisation__info .organisation {
  width: 100%;
}
.organisation__info .organisation .organisation__info__block {
  max-width: 500px;
}
.organisation__info .organisation .organisation__info__block h1 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 65px;
}
.organisation__info .organisation .organisation__info__block p {
  margin-top: 20px;
  padding-bottom: 65px;
  text-align: justify;
}
.organisation__info .organisation .organisation__info__block .organisation__info__contact_us {
  color: white;
  background-color: #ff3f40;
  border: solid;
}
.organisation__info .organisation .organisation__info__block .organisation__info__contact_us:hover {
  color: #ff3f40;
  background-color: transparent;
  border: solid 2px #ff3f40;
}
.organisation__info .organisation .organisation__info__video {
  width: 50%;
  padding-left: 75px;
}

.product .product__headline {
  text-align: center;
}
.product .product__headline h2 {
  margin: 100px 0 20px;
  text-transform: uppercase;
}
.product .product__headline:before {
  content: "";
  display: inline-block;
  width: 1250px;
  margin: 0 auto;
  height: 2px;
  background-color: #f6f2f2;
}
.product .product__headline p {
  margin-bottom: 25px;
}
.product .product__navigation {
  padding: 60px 0 40px;
}
.product .product__navigation ul {
  display: flex;
  justify-content: center;
}
.product .product__navigation ul li {
  list-style: none;
}
.product .product__navigation ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #313030;
  font-size: 22px;
  padding-left: 35px;
  display: inline;
}
.product .product__navigation ul li a:hover {
  color: #ff3f40;
}
.product .product__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product .product__gallery .product__img {
  width: calc(25% - 20px);
  background-color: #f5f0dd;
  height: 290px;
  border: transparent;
  margin: 0 10px 10px 0;
}

.services {
  padding-bottom: 100px;
}
.services .services__content,
.services .services__excerpt {
  margin-top: 110px;
  width: 50%;
}
.services .services__excerpt {
  max-width: 510px;
}
.services .services__excerpt p {
  margin: 30px 50px 30px 0;
  text-align: justify;
}
.services .services__excerpt .services__button {
  color: #ff3f40;
  background-color: transparent;
  border: solid 2px #ff3f40;
}
.services .services__excerpt .services__button:hover {
  color: white;
  background-color: #ff3f40;
  border: solid;
}
.services .services__content {
  display: flex;
  flex-wrap: wrap;
}
.services .services__content .services__content__item {
  width: 50%;
}
.services .services__content .services__content__item img,
.services .services__content .services__content__item h3 {
  margin: 20px 0;
}
.services .services__content .services__content__item p {
  margin-right: 35px;
  text-align: justify;
  font-size: 16px;
}

.team {
  padding-bottom: 100px;
}
.team .team__headline {
  max-width: 450px;
}
.team .team__headline h1 {
  margin-left: 20px;
}
.team .team__headline p {
  margin-left: 20px;
}
.team .team__headline:after {
  margin-left: 20px;
}
.team .team__img {
  display: flex;
  flex-wrap: wrap;
}
.team .team__img .team__img__selected {
  border: transparent;
  margin: 40px 40px 0 20px;
  width: 25%;
  height: 400px;
  background-color: #f5f0dd;
}
.team .team__img .team__img__sidebar {
  width: calc(75% - 60px);
}
.team .team__img .team__img__sidebar .team__selected__info {
  margin-top: 40px;
  max-width: 650px;
}
.team .team__img .team__img__sidebar .team__selected__info h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.team .team__img .team__img__sidebar .team__selected__info p {
  margin-bottom: 20px;
}
.team .team__img .team__img__sidebar .team__selected__info .team__selected__reference a {
  text-decoration: none;
  padding-right: 20px;
  font-style: italic;
  color: black;
}
.team .team__img .team__img__sidebar .team__not__selected {
  display: flex;
  flex-wrap: wrap;
}
.team .team__img .team__img__sidebar .team__not__selected .team__not__selected__img {
  border: transparent;
  margin: 30px 0 0 15px;
  width: 23%;
  height: 255px;
  background-color: #f5f0dd;
  position: relative;
}
.team .team__img .team__img__sidebar .team__not__selected .team__not__selected__img p {
  opacity: 0;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.team .team__img .team__img__sidebar .team__not__selected .team__not__selected__img p:hover {
  opacity: 100%;
  background-color: #ccc;
  color: white;
  height: 15%;
}
.team .team__img .team__img__sidebar .team__not__selected .team__not__selected__img:first-child {
  margin-left: 0;
}

.subscription {
  background-color: #f5f0dd;
  padding: 100px 0;
}
.subscription .subscription__content h1 {
  padding-bottom: 40px;
}
.subscription .subscription__content p {
  padding-bottom: 60px;
}
.subscription .subscription__content .subscription__form {
  text-align: center;
}
.subscription .subscription__content .subscription__form .subscription__email input {
  padding: 20px 40px;
  text-align: center;
  border: none;
  border-radius: 5px;
  font: 22px;
}
.subscription .subscription__content .subscription__form .subscription__button {
  color: white;
  background-color: #ff3f40;
  border: solid;
  text-transform: uppercase;
  margin-left: 20px;
}
.subscription .subscription__content .subscription__form .subscription__button:hover {
  color: #ff3f40;
  background-color: white;
  border: solid 2px #ff3f40;
}

.contact {
  padding-top: 100px;
}
.contact .contact__heading {
  max-width: 625px;
  margin-bottom: 50px;
}
.contact .contact__heading h2 {
  margin-bottom: 50px;
  text-transform: uppercase;
}
.contact .contact__heading p {
  text-align: justify;
  margin-bottom: 50px;
}
.contact .contact__block {
  display: flex;
}
.contact .contact__block .contact__form {
  width: 50%;
}
.contact .contact__block .contact__form input {
  background-color: #e5e5e5;
  border-style: none;
  border-radius: 5px;
  padding: 20px 50px;
  margin-right: 50px;
  width: calc(50% - 40px);
  outline: none;
}
.contact .contact__block .contact__form [type=text] {
  margin-right: 50px;
}
.contact .contact__block .contact__form [type=email] {
  margin-right: 0;
  float: right;
}
.contact .contact__block .contact__form textarea {
  margin: 30px 0;
  background-color: #e5e5e5;
  width: 100%;
  resize: none;
  height: 300px;
  border-radius: 10px;
  border-color: transparent;
  padding: 10px 20px;
}
.contact .contact__block .contact__form textarea:focus, .contact .contact__block .contact__form textarea:active, .contact .contact__block .contact__form textarea:hover {
  border-color: transparent;
}
.contact .contact__block .contact__form .contact__button {
  color: white;
  background-color: #ff3f40;
  border: solid;
  text-transform: uppercase;
  width: 100%;
}
.contact .contact__block .contact__form .contact__button:hover {
  color: #ff3f40;
  background-color: transparent;
  border: solid 2px #ff3f40;
}
.contact .contact__block .contact__info {
  width: 50%;
  background-color: #313030;
  color: white;
  margin-left: 50px;
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: #313030;
  margin-top: 50px;
}
footer .footer {
  display: flex;
  justify-content: space-between;
  color: white;
}
footer .footer h4 {
  font-weight: 200;
  margin: 30px 0;
}
footer .footer .footer__navigation {
  display: flex;
  align-items: center;
}
footer .footer .footer__navigation nav ul {
  display: flex;
  align-items: center;
}
footer .footer .footer__navigation nav ul li {
  list-style: none;
  padding-left: 20px;
}
footer .footer .footer__navigation nav ul li a {
  display: inline;
}

/*# sourceMappingURL=style.css.map */
