.contact {
  padding-top: 100px;

  .contact__heading {
    max-width: 625px;
    margin-bottom: 50px;

    h2 {
      margin-bottom: 50px;
      text-transform: uppercase;
    }

    p {
      text-align: justify;
      margin-bottom: 50px;
    }

    &:after {
      @extend %line_maincolour;
    }
  }

  .contact__block {
    display: flex;

    .contact__form {
      width: 50%;

      input {
        background-color: $contact_form_bg;
        border-style: none;
        border-radius: 5px;
        padding: 20px 50px;
        width: calc(50% - 5px);
        outline: none;
      }

      [type="email"] {
        margin-right: 0;
        float: right;
      }

      textarea {
        margin: 30px 0;
        background-color: $contact_form_bg;
        width: 100%;
        resize: none;
        height: 300px;
        border-radius: 10px;
        border-color: transparent;
        padding: 10px 20px;

        &:focus,
        &:active,
        &:hover {
          border-color: transparent;
        }
      }

      .contact__button {
        @extend %button;
        @include button(white, $main_colour, solid);
        text-transform: uppercase;
        width: 100%;

        &:hover {
          @include button_hover($main_colour, transparent, solid 2px $main_colour);
        }
      }
    }

    .contact__info {
      width: 50%;
      background-color: $hover_colour;
      color: white;
      margin-left: 50px;
      padding: 0 50px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;

    }
  }

}