.services {
    @extend %display_flex;
    padding-bottom: 100px;

    .services__content,
    .services__excerpt {
        margin-top: 110px;
        width: 50%;
    }

    .services__excerpt {
        max-width: 510px;
        p {
            margin: 30px 50px 30px 0;
            text-align: justify;
        }

        .services__button {
            @extend %button;
            @include button($main_colour, transparent, solid 2px $main_colour);

            &:hover {
                @include button_hover(white, $main_colour, solid)
            }
        }
    }

    .services__content {
        display: flex;
        flex-wrap: wrap;

        .services__content__item {
            width: 50%;

            img,
            h3 {
                margin: 20px 0;
            }

            p {
                margin-right: 35px;
                text-align: justify;
                font-size: 16px;
            }
        }
    }
}
