.team__headline {

  h1 {
    @extend %headline_paddings;
  }

  p {
    margin-left: 20px;
  }

  &:after {
    @extend %line_maincolour;
    margin-left: 20px;
  }
}

.team__img {
    display: flex;
    flex-wrap: wrap;

    .team__img__selected {
      border: transparent;
      margin: 40px 40px 0 20px;
      width: 25%;
      height: 400px;
      background-color: $additional_colour;
    }

    .team__img__sidebar {
      width: calc(75% - 60px);

      .team__selected__info {
        margin-top: 40px;

        h3 {
          text-transform: uppercase;
          margin-bottom: 20px;
        }

        p {
          margin-bottom: 20px;
        }

        .team__selected__reference {
          a {
            text-decoration: none;
            padding-right: 20px;
            font-style: italic;
            color: black;
          }
        }
      }

      .team__not__selected {
        display: flex;
        flex-wrap: wrap;

        .team__not__selected__img {
          border: transparent;
          margin: 30px 0 0 15px;
          width: 23%;
          height: 255px;
          background-color: $additional_colour;


          p {
            display: none;
            font-weight: bold;
            text-align: center;
          }

          &:hover {
            background-color: $hover_colour;
            opacity: 10%;
            transition: 0.3s;

            p {
              display: block;
            }
          }
        }

        .team__not__selected__img:first-child {
          margin-left: 0;
        }

      }
    }
  }
