.team {
  padding-bottom: 100px;

  .team__headline {
    max-width: 450px;

    h1 {
      @extend %headline_paddings;
      margin-left: 20px;
    }

    p {
      margin-left: 20px;
    }

    &:after {
      @extend %line_maincolour;
      margin-left: 20px;
    }
  }

  .team__img {
    display: flex;
    flex-wrap: wrap;

    .team__img__selected {
      border: transparent;
      margin: 40px 40px 0 20px;
      width: 25%;
      height: 400px;
      background-color: $additional_colour;
    }

    .team__img__sidebar {
      width: calc(75% - 60px);

      .team__selected__info {
        margin-top: 40px;
        max-width: 650px;

        h3 {
          text-transform: uppercase;
          margin-bottom: 20px;
        }

        p {
          margin-bottom: 20px;
        }

        .team__selected__reference {
          a {
            text-decoration: none;
            padding-right: 20px;
            font-style: italic;
            color: black;
          }
        }
      }

      .team__not__selected {
        display: flex;
        flex-wrap: wrap;

        .team__not__selected__img {
          border: transparent;
          margin: 30px 0 0 15px;
          width: 23%;
          height: 255px;
          background-color: $additional_colour;
          position: relative;


          p {
            opacity: 0;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            position: absolute;
            bottom: 0;
            width: 100%;
          }

          p:hover {
            opacity: 100%;
            background-color: #ccc;
            color: white;
            height: 15%;
          }

        }

        .team__not__selected__img:first-child {
          margin-left: 0;
        }

      }
    }
  }

}

