footer {
  background-color: $hover_colour;
  margin-top: 50px;

  .footer {
    display: flex;
    justify-content: space-between;
    color: white;

    h4 {
      font-weight: 200;
      margin: 30px 0;
    }

    .footer__navigation {

      nav {
        ul  {
          display: flex;

          li {
            list-style: none;
            padding-left: 20px;

            a {

            }
          }
        }
      }
    }

  }
}