.organisation__info {
    background-color: $background_colour;

    .organisation {
        @extend %display_flex;
        width: 100%;
        @extend %headline_paddings;

        .organisation__info__block {
            width: 50%;

            h1 {
                font-size: 40px;
                font-weight: bold;
                letter-spacing: 1px;
                line-height: 55px;
            }

            p {
                margin-top: 20px;
                padding-bottom: 65px;
                text-align: justify;
            }

            .organisation__info__contact_us {
                @extend %button;
                background-color: $main_colour;
                color: white;
            }
        }

        .organisation__info__video {
            width: 50%;
            padding-left: 75px;
        }
    }
}
