.organisation__info {
    background-color: $background_colour;

    .organisation {
        @extend %display_flex;
        width: 100%;
        @extend %headline_paddings;

        .organisation__info__block {
            max-width: 500px;

            h1 {
                font-size: 60px;
                font-weight: bold;
                letter-spacing: 1px;
                line-height: 65px;
            }

            p {
                margin-top: 20px;
                padding-bottom: 65px;
                text-align: justify;
            }

            .organisation__info__contact_us {
                @extend %button;
                @include button(white, $main_colour, solid);
            }

            .organisation__info__contact_us:hover {
                @include button_hover ($main_colour, transparent, solid 2px $main_colour);
            }
        }

        .organisation__info__video {
            width: 50%;
            padding-left: 75px;
        }
    }
}
