body {
    font-family: "Open Sans", sans-serif;
}

.wrapper {
    max-width: 1250px;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    font-size: 32px;
}

a {
    text-decoration: none;
    color: inherit;
}


