body {
    font-family: "Open Sans", sans-serif;
}

.wrapper {
    max-width: $containerWidth;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    font-size: 32px;
}

a {
    text-decoration: none;
    color: inherit;
}

@media(max-width: $containerWidth) {
    .wrapper {
        width: $breakpointLg;
        margin: 0 auto;
    }
}

@media(max-width: $breakpointLg) {
    .wrapper {
        width: $breakpointMd;
        margin: 0 auto;
    }
}

@media(max-width: $breakpointMd) {
    .wrapper {
        width: $breakpointSm;
        margin: 0 auto;
    }
}

@media (max-width: $breakpointMd) {
    h1 {
        font-size: 50px;
        text-align: center;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 40px;
    }

    p {
        font-size: 30px;
        text-align: justify;
    }

}


