%selected_item {
    background-color: #ff3f40;
    color: white;
}

%display_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

%button {
    padding: 20px 40px;
    text-align: center;
    border-style: none;
    border-radius: 5px;
    font: 22px;
    font-weight: bold;
}

%headline_paddings {
    padding-top: 100px;
    padding-bottom: 50px;
}

%subscription_text {
    text-align: center;
    color: white;
}

%line_maincolour {
    content: "";
    display: inline-block;
    width: 100px;
    height: 2px;
    background-color: $main_colour;
}