.subscription {
  background-color: $additional_colour;
  padding: 100px 0;

  .subscription__content {

    h1 {
      @extend %subscription_text;
      padding-bottom: 40px;
    }

    p {
      @extend %subscription_text;
      padding-bottom: 60px;
    }

    .subscription__form {
      text-align: center;

      .subscription__email input {
        padding: 20px 40px;
        text-align: center;
        border: none;
        border-radius: 5px;
        font: 22px;
      }

      .subscription__button {
        @extend %button;
        @include button(white, $main_colour, solid);
        text-transform: uppercase;
        margin-left: 20px;

        &:hover {
          @include button_hover($main_colour, white, solid 2px $main_colour);
        }
      }
    }

  }
}